{% extends 'base.html' %}
{% block title %}{{ post.title }} | {{ site.configs.title or site.title }}{% endblock %}

{% block seo %}
<link rel="canonical" href="{{post.url}}" />
<meta name="description" content="{{ post.title }},{{ post.raw_content[:100]}}" />
<meta name="keywords" content="{% for tag in post.tags %}{{ tag }},{% endfor %}" />
{% endblock %}

{% block content %}

    <div class="post-content">        
            <h2 class="post-header">
                {{ post.title }}
            </h2>
            <div class="entry-meta">
                <span> 
                   {{ post.date | date('%Y-%m-%d') }}
                </span>                                
            </div>
    
        <div class="entry">{{ post| auto_content }}</div>
		<div class="entry-tags">
		{% if post.tags %}
                <p> <b>Tags:</b>  
                    {% for tag in post.tags %}
                    <a class="tag" href="/tags/{{ tag }}">{{ tag }}</a>
                    {% endfor %}
                </p>
        {% endif %}
		</div>
    </div>
	
    <div id="disqus_thread" class="comments"></div>

    {% if site.configs.disqus %}
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    {% elif site.configs.duoshuo %}
        <!-- Duoshuo Comment BEGIN -->
        <div class="comment-wrap"><div class="ds-thread"></div></div>            
        <!-- Duoshuo Comment END -->
    {% else %}
    <div class="comment-wrap">{{ get_text_file('comment_js').raw_content }}</div>
    {% endif %}


{% endblock %}
