<div id="sider" class="sider hidden-xs col-md-3 col-lg-3">
<div class="row">
    {% if site.configs.weibo %}
    <div class="visible-md visible-lg col-md-12">
    <aside>
        <h3><i class="icon-weibo"></i>&nbsp;Weibo</h3>
        <iframe width="100%" height="400" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=400&fansRow=1&ptype=1&speed=0&skin=1&isTitle=0&noborder=0&isWeibo=1&isFans=0&{{ site.configs.weibo }}&dpc=1"></iframe>
    </aside>
    </div>
    {% endif %}
    {% if site.configs.rpost %}
    <div class="hidden-xs col-sm-4 col-md-12">
    <aside>
        <h3><i class="icon-time"></i>&nbsp;Recent Article</h3>
        <ul>
        {% set rposts= get_posts('/',site.configs.rpost) %}
            {% for post in rposts %}
                <li class="listing-item">
                    <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </aside>
    </div>
    {% endif %}
    {% if site.configs.disqus %}
    <div class="hidden-xs col-sm-4 col-md-12">
    <aside>
        <h3><i class="icon-comments"></i>&nbsp;Recent Comments</h3>
        <script type="text/javascript" src="http://{{ site.configs.disqus }}.disqus.com/recent_comments_widget.js?num_items=6&hide_avatars=1&excerpt_length=20"></script>
    </aside>
    </div>      
    {% elif site.configs.duoshuo %}
    <div class="hidden-xs col-sm-4 col-md-12">
    <aside>
        <h3><i class="icon-comments"></i>&nbsp;Recent Comments</h3>
        <ul class="ds-recent-comments" data-show-title="0" data-show-time="0" data-show-avatars="0"></ul>
    </aside>
    </div>
    {% endif %}
    <div class="hidden-xs col-sm-4 col-md-12">
    <aside>
        <h3><i class="icon-tags"></i>&nbsp;Tags</h3>
        <div>
            <ul>
                {% for tag_name, tag_count in site.tags %}
                <li style="list-style-type:none;"><a href="/tags/{{tag_name}}">{{ tag_name }}&nbsp;<span class="badge">{{ tag_count }}</span></a><li>
                {% endfor %}
            <ul>
        </div>
    </aside>
    </div>
</div>
</div>